<div class="container">
  <div class="mt-5">
    <div class="d-flex gap-5 align-items-center mb-5 p-3">
      <div class="team-img" style="width: 100%; background-image: url(<%= asset_path('ana-sofia') %>);"></div>
      <div>
        <p class="fw-bold fs-5 mb-0">Ana Sofia Cardoso Monteiro (Sócia)</p>
        <p class="">sofia.monteiro@lemetrics.com.br</p>
        <p class="">Advogada (atualmente licenciada), economista e internacionalista, atuou como servidora do Conselho Administrativo de Defesa Econômica (CADE) durante três anos, havendo ocupado o cargo de Chefe de Assessoria da Presidência e Coordenadora-Geral Antitruste, na Superintendência-Geral da Autarquia. É professora de Direito Econômico e Empresarial no IDP, com Pós-Graduação em Direito Econômico e Defesa da Concorrência pela Faculdade Getúlio Vargas, mestrado em finanças pelo COPPEAD/UFRJ e doutorado em andamento em Direito Comercial na Universidade de São Paulo (USP). Possui especialização em Mercado de Capitais e Desenvolvimento Econômico pela London School of Economics (LSE), Estatística e Finanças Corporativas pela New York University (NYU) e Tributação Internacional pela Universidade de Leiden, além de artigos publicados em periódicos de direito e economia e jornais de ampla circulação.</p>
        <%= link_to 'Acesse o CV', 'https://www.linkedin.com/in/sofia-monteiro-signorelli-29b3276b/', class: 'btn btn-small btn-secondary', target: '_blank' %>
      </div>
    </div>

    <div class="d-flex gap-5 align-items-center mb-5 p-3">
      <div class="team-img" style="width: 100%; background-image: url(<%= asset_path('foto-ze') %>);"></div>
      <div>
        <p class="fw-bold fs-5 mb-0">José Ronaldo Souza Jr (Sócio)</p>
        <p class="">jronaldo.souza@lemetrics.com.br</p>
        <p class="">Economista com grande de experiência no Instituto de Pesquisa Econômica Aplicada (IPEA), onde ocupou o cargo de Diretor de Estudos e Políticas Macroeconômicas por mais de cinco anos e atuou como coordenador de diversas áreas de pesquisa. É professor de economia do mestrado, MBA e graduação do Instituto Brasileiro de Mercados e Capitais (IBMEC/RJ). Tem mestrado e doutorado em Economia pela Universidade Federal de Minas Gerais (UFMG). Possui especialização em métodos quantitativos relacionados a previsões de inovações tecnológicas pelo Massachussetts Intitute of Technology (MIT), além de livros e uma série de artigos publicados em periódicos de economia e em jornais de ampla circulação.</p>
        <%= link_to 'Acesse o CV', 'https://www.linkedin.com/in/jronaldosouza/', class: 'btn btn-small btn-secondary', target: '_blank' %>
      </div>
    </div>
<!--
    <div class="d-flex gap-5 align-items-center p-3">
      <div class="team-img" style="width: 100%; background-image: url(<%= asset_path('thiago-pedra') %>);"></div>
      <div>
        <p class="fw-bold fs-5 mb-0">Thiago Pedra Signorelli (Consultor)</p>
        <p class="">thiago.signorelli@lemetrics.com.br</p>
        <p class="">Engenheiro Eletrônico e Contador, foi Coordenador-Geral da Secretaria de Política Econômica do Ministério da Economia, com treze anos de experiência na Superintendência de Seguros Privados (SUSEP). Possui mestrado e doutorado em Finanças pelo COPPEAD/UFRJ. Foi Conselheiro-Suplente do Conselho Nacional de Previdência Complementar, membro do Comitê de Pronunciamentos Contábeis (CPC) e do Comitê Gestor de Convergência no Brasil, instituído pelo Conselho Federal de Contabilidade (CFC).</p>
        <%= link_to 'Acesse o CV', 'https://www.linkedin.com/in/thiago-signorelli-58b8b01b2/', class: 'btn btn-small btn-secondary', target: '_blank' %>
      </div>-->
    </div>
  </div>
</div>
